@model EmployeeManagement.Models.Employee
@{
    ViewData["Title"] = "Create";
}

<form asp-controller="Home" asp-action="Create" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Department"></label>
        <select  asp-for="Department" asp-items="Html.GetEnumSelectedList<Dept>()"></select>
    </div>

</form>

